{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
  #}

  {% extends 'layouts/application.html' %}

  {% block content %}

  <div id="board" class="clear">
			<a href="#" id="add-note">+</a>
      <div class="y-axis">
        <div class="y-axis-title-top" id="y-axis-title-top" contenteditable>Shitt</div>
        <div class="y-axis-title-bottom" id="y-axis-title-bottom" contenteditable>farts</div>
      </div>
      <div class="x-axis">
        <div class="x-axis-title-right" id="x-axis-title-right" contenteditable>farts</div>
        <div class="x-axis-title-left" id="x-axis-title-left" contenteditable>farts</div>
      </div>
			<!-- <div id="to-do">
			</div>
			<div id="in-progress">
			</div>
			<div id="done">
			</div> -->
	</div>

  {% endblock %}
